.doubleCalendar{
    position:absolute;
    left:170px;
    top:21px;
    transition: all 0.3s;
    display:none;
}
.calendar{
    width:235px;
    height:248px;
    box-shadow:00 5px rgba(226,226,226,.3);
    background:#fff;
    margin:10px auto 10px;
    overflow:hidden;
    position:relative;
    z-index:2;
    float:left;
}
.rgihtCalendar{
    border-radius:0 4px 4px 0;
}
.leftCalendar{
    border-radius:4px 0 0 4px;
}
.calendar .headDate{
    position:relative;
    background:#2a3542;
    color:#fff;
    font-size:16px;
    line-height:40px;
    font-weight:bold;
    text-align:center;
}
.calendar .headDate .prevMonth,
.calendar .headDate .nextMonth{
    position:absolute;
    transform:scale(0.8,1.3);
    cursor:pointer;
    font-weight:normal;
}
.calendar .headDate .prevMonth{
    color:#a8b6c6;
    left:20px;
}
.calendar .headDate .nextMonth{
    color:#fff;
    right:20px;
}
.calendar .week{
    height:30px;
    width:217px;
    line-height:30px;
    background:#f1f2f7;
    font-size:14px;
    margin:5px auto 0;
    text-align:center;
    border-radius:4px;
}
.calendar .week li{
    width:31px;
    float:left;
    color:#464646;
}
.calendar .week li:last-child{
    margin:0;
}
.calendar .week li:first-child,
.calendar .week li:last-child{
    color:#41cac0;
}
.calendar .week:after{
    content:"";
    display:block;
    overflow:hidden;
    clear:both;
}
.calendar .table{
    width:217px;
    margin:0 auto;
}
.calendar .table tr td{
    text-align:center;
    display:inline-block;
    width:26px;
    height:26px;
    line-height:26px;
    margin-left:5px;
    border-radius:4px;
    margin-bottom:6px;
    cursor:pointer;
}
.active{
    background:#41cac0;
    color:#fff;
}
.calendar .table tr:last-child td{
    margin-bottom:0;
}
.calendar .table tr td:first-child{
    margin-left:0;
}
.doubleCalendar:after{
    display:block;
    content:'';
    overflow:hidden;
    clear:both;
}